
<div class="header bg-info mb-4 p-3 p-1 rounded-3 text-center">
    <h1>Student Feedback Form</h1>
</div>

<div class="row">
    <div class="col-md-5">
        <h2>Instruction</h2>
        <p> As one of our students, your thoughts, feedback and comments are important to us.</p>
        <p> Please send them using this form</p>
        <p>If yuo would like us to follow up with you, include your contact information</p>
    </div> <!-- end of first instruction col div-->

    <div class="col-md-7">
        <form action="/submit-feedback" method="POST">

            <div class="label fs-3">
                <label class="form-label" for="name">Name:</label>
                <input class="form-control" id="name" type= "text" name="name">
            </div>

            <br>

            <label class="form-label fs-3" for="email">Email:</label>
            <input class="form-control" id="email" type="email" name="email">

            <br>
            <br>
            <label class="form-label fs-3" for="comments">Comments</label><br>
            <textarea class="form-control" id="comments" required name="comments"></textarea><br>
            <br>

            <label class="mx-2 p-3 fs-3">Are you a current student?</label><br>

            <div class="form-check">
                <input class="form-check-input" id="student-yes" name="student-?" type="radio" value="yes">
                <label class="form-check-label fs-5" for="student-yes">Yes</label>
            </div>

            <div class="check">
                <input class="form-check-input" id="student-no" name="student-?" type="radio" value="no">
                <label class="form-check-label fs-5" for="student-no">No</label><br>
            </div>
            <input class="btn btn-primary m-3" type="submit">
        </form>
    </div>  <!-- end of second col div containing the form -->

</div>  <!-- end of the row div that contains boths columns-->
